// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
 font-family: "Comic Sans MS", cursive, sans-serif;
 color: #40E0D0;
 font-size: 100px;
}

html, body {
 background-color: #ff69b4;
}

button {
 color: purple;
}
